<a href="https://colab.research.google.com/github/eunjipark123/olist_sellerside_analysis/blob/main/Olist_seller_sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. 준비
## 1. 분석에 필요한 라이브러리와 파일 불러오기

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 마케팅 채널 분석에 필요한 자료 리드

closed_deals = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_closed_deals_dataset.csv")
#customers = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_customers_dataset.csv")
#location = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_geolocation_dataset.csv")
mql = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_marketing_qualified_leads_dataset.csv")
orders = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_orders_dataset.csv")
order_items = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_order_items_dataset.csv")
order_payments = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_order_payments_dataset.csv")
products = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_products_dataset.csv")
#sellers = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_sellers_dataset.csv")
categories = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/product_category_name_translation.csv")

## 2. 테이블 확인

In [ ]:
mql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

In [ ]:
# mql 채널 정보
mql['origin'].value_counts()

organic_search       2296
paid_search          1586
social               1350
unknown              1099
direct_traffic        499
email                 493
referral              284
other                 150
display               118
other_publicities      65
Name: origin, dtype: int64

In [ ]:
mql['landing_page_id'].value_counts()

b76ef37428e6799c421989521c0e5077    912
22c29808c4f815213303f8933030604c    883
58326e62183c14b0c03085c33b9fdc44    495
88740e65d5d6b056e0cda098e1ea6313    445
ce1a65abd0973638f1c887a6efcfa82d    394
                                   ...
8999524db83541c7f1ad48906d5d4b86      1
be7f31219be243061a39a4a158898688      1
ea4434c9a6df0098e720204ba3dbb76d      1
e5eaa929c6697d69cd76727daa809042      1
3683ba5726e741af4b8b02bcaef4e7b3      1
Name: landing_page_id, Length: 495, dtype: int64

In [ ]:
mql[mql['origin'].isna()]

,mql_id,first_contact_date,landing_page_id,origin
59,8e952443b19bfc5d0b90e6c4eabcb8fb,2018-01-28,21a104c3279681d9856b8a48723c4fee,NaN
74,280d8c73b56b79f1059539da36c7ae4a,2018-05-11,b76ef37428e6799c421989521c0e5077,NaN
123,0138fa79ed7cc7113e031e4ac11bd26a,2017-07-07,22c29808c4f815213303f8933030604c,NaN
126,e8432fb72c61c9066957124e5a420a05,2017-10-09,1722481ac9e5371e5099dea226b5421d,NaN
211,84f11ceb99dafe222dde3767eb4fe663,2018-03-26,d5559420f79579b9aa701a202c4bc7eb,NaN
223,99ba5c4097c6b8fef5ed774a1a6714b8,2018-05-26,58326e62183c14b0c03085c33b9fdc44,NaN
262,4bc2d171e7cff7fa3c2c4bd0bf5dabc4,2017-07-27,6404292b0f9a5594edf14be71ce4c221,NaN
596,e9fb2eda3d9c55a0d89c98d6c54b5b3e,2018-04-27,966098efaef7a4d665be6b0cb617541b,NaN
598,e0a30be9b1b30f4d56a2f1e1e760e536,2017-12-06,f98c2bd96ac4a5d9476734e790c91384,NaN
638,40d1075be60b9feb074947fb019cc6b4,2018-04-05,c70eb6fb5bd6e939b0d5ef32f21f61e8,NaN
703,657ad4f3e2afdf70f27fe834691fb65a,2017-11-29,da1a335179b8a9784d5733c7c7ada254,NaN
736,85410779053820c804ddc69ae4a48d9d,2018-04-02,8edd4451e41e482b32035dd8e8400ff4,NaN
1081,ca1e7c16062816dd5c888af7ea5afa0b,2017-07-28,22c29808c4f815213303f8933030604c,NaN
1110,adaedfcb189c2913db383791af9b8ec3,2018-03-06,3d75f6dd34b968151b3e86c9e28f1379,NaN
1165,67c34b9630469b3c13b7982316ffe7a1,2018-01-16,a623837d6a3000b3cd020295728e8252,NaN
1973,0b99dab71519032b917dc641cdd7ac5b,2017-06-14,d41d8cd98f00b204e9800998ecf8427e,NaN
2050,2ec0e064ff1ce7e35575be2cd7aa9431,2018-03-12,a7982125ff7aa3b2054c6e44f9d28522,NaN
2234,49117628ac2ccc7459e70c95fc9f55f1,2018-04-17,3aea860a87895eee6b72f666b3d7b98a,NaN
2326,6710565534bb35faf7fad5971cf885b3,2018-02-02,0c83f57c786a0b4a39efab23731c7ebc,NaN
2441,4da6c4d07033d355453ce49273d591c6,2018-05-18,0c83f57c786a0b4a39efab23731c7ebc,NaN
2456,5db413912b703e46bc1aaee48504bfae,2018-03-13,b360f694e319be64b87987476137d1a2,NaN
2537,f1a58918e5937cbf008a17b8ce77b579,2017-07-20,ce7bafe02f8fb1a3f15f52a9c239d0ef,NaN
2747,a8641042a65f0cb99c82df186d88b182,2018-02-19,1e884e3078d9978e216a027ecd57fb34,NaN
2836,169ea72d893b7bfe6a36b531a78b48af,2018-04-25,9fa37f5177115156b1814ffc237402a6,NaN
3201,5290b66ff9e0c1115614365d8e20f10c,2018-03-15,330b9d44078a1ae5a221d655dcb77afa,NaN
3427,0524bbc7d57d3edbd146cb19bbd4d1f2,2018-04-24,22c29808c4f815213303f8933030604c,NaN
3714,916cb4b04f32e307ee2a5c32c8d4f7b7,2018-04-18,e534a08b23c682d94859d0ab860bd57a,NaN
3737,9efa87e164995a7743eca9ad63029fa4,2018-04-05,7fa6214d82e911d070f51ef79381b956,NaN
3826,621461af90cadfdaf0e8d4cc25129f91,2018-04-02,c6f28f804cf6330e6de735ef6e6fe95c,NaN
4007,d2ac71782272659e7171150d20d59158,2018-05-14,a850a8a187e36cb07a8d06700d141993,NaN
4168,d41380111f8558d2a5a9da7a095bbd0f,2017-12-21,b3346ddd5d7b2edda306d8f531e58660,NaN
4230,947d64ec18585d216e88d3eef72267d2,2018-02-12,3cd2a8301d5395f21cdd3094c9eaa2f4,NaN
4428,28b666d0bbf15152aca966add171113d,2018-04-09,d41d8cd98f00b204e9800998ecf8427e,NaN
4942,d788c46ad6a6c020b5062c1a99f55b2c,2018-05-15,0c83f57c786a0b4a39efab23731c7ebc,NaN
4952,4b98e90ba839623e88d5b3d6dce56562,2017-12-14,99b00c6e27db383d844d1763dbcbfe06,NaN
5374,6b0ac5c5ab0f8939442c42704c5493b0,2018-05-25,9d72960ad2cfeaa46192fa3dba4e498e,NaN
5392,b51d0ceea431fc2d4569650b64bd22de,2018-05-21,22c29808c4f815213303f8933030604c,NaN
5726,9ff478a05056d2fe0d7d1e1dd9b35a5f,2018-01-23,80d35379df4ce2f5297acefc78f60907,NaN
5749,19f3ca179d09e8518d25a28d8e4e443f,2018-05-28,58326e62183c14b0c03085c33b9fdc44,NaN
5876,f5baaf0afe419681731ec3d30dafd954,2018-04-30,1ec5f5ec77c51a968271b2ca9862907d,NaN
5933,46a5a92c481d5d4e0478d68bad240fc6,2018-02-12,afff7cfc8b8e50b09fa8840a9cecd5dc,NaN
6030,2b35567523c67c1a9c32ef101ae7bc73,2018-03-14,2635743d5842a4475730345cf894efce,NaN
6289,d62e62abe24dcaa94f9e1b3678477b51,2018-03-15,da14b7e2eb0d1eecf65abbd05a31c87d,NaN
6365,eff2afaf73d134f6ea9eb98ff373426c,2018-05-02,f80696b73d17fb34f5c4fde157f119d8,NaN
6405,9e4903ea29841bc16eab71500292e9b0,2018-05-21,0c83f57c786a0b4a39efab23731c7ebc,NaN
6534,ad3a14270fa2d83b1fec766852384865,2018-02-12,1e884e3078d9978e216a027ecd57fb34,NaN
6565,61681a30d47dc8b1ec5180ccdec26ba5,2018-01-24,30077c17f2ec5010a82e37ad8925b95f,NaN
6641,33ce1e734d9d50629fa2c36769285d53,2017-07-11,d41d8cd98f00b204e9800998ecf8427e,NaN
6870,13170ed0153d4bc4d2c8bd6016634aaf,2018-02-26,f77960785994c89e81217aa876672703,NaN
6966,a6bf24ce0939b46b6536e02a3d244cc3,2018-02-27,6b6c0934205e87702519d1cce24055f9,NaN
7041,baf5ecd84c6a8766519b98f66eec1511,2018-05-10,6dca9fc31d8a95cdbcfafcc307012768,NaN
7118,66ff0b5dbb060ef47f756d33cf170f97,2018-04-30,b3346ddd5d7b2edda306d8f531e58660,NaN
7176,8d57c03206c460f9e9637e46b8337713,2018-05-19,5dc848e7dd9418dffe183215b8ff0bc1,NaN
7291,5ce7df80a9e32ee366f578e7ad3d290a,2017-08-09,d41d8cd98f00b204e9800998ecf8427e,NaN
7469,1785cff273aedbd875c814b46928ad7f,2018-05-08,22c29808c4f815213303f8933030604c,NaN
7518,9542f2f27285580fe8d6aa82e179ed28,2018-01-18,b3346ddd5d7b2edda306d8f531e58660,NaN
7573,7998e8b20a8a78bcc791977fee27fc81,2018-03-14,8345a83d419160e69c0501b494dadfa6,NaN
7685,7cc538b1337957dae283c30ad46def38,2018-05-01,58326e62183c14b0c03085c33b9fdc44,NaN
7710,6c1f11f779599fe6d280c41d644ed43b,2018-03-12,6b6c0934205e87702519d1cce24055f9,NaN
7878,5735438d64589c7672b1b246cc3b2b24,2018-04-05,1ceb590cd1e00c7ee95220971f82693d,NaN

In [ ]:
closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [ ]:
closed_deals[closed_deals['has_company'] == False]

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
41,20fcec0873b39b4df3df34140d77d6e7,cee3c487c56d29554a22d112af618301,084b6fbb10729ed4da8c3d3f5a3ae7c9,0a0fb2b07d841f84fb6714e35c723075,2018-11-14 18:04:19,other,other,cat,False,False,1-5,other,120.0,6000.0
356,3fc2d2c3597b3e7b87c17651f98f6c22,6514418ce691fad2663207c14a1fc1f4,b90f87164b5f8c2cfa5c8572834dbe3f,9ae085775a198122c5586fa830ff7f2b,2018-08-28 21:30:52,food_drink,industry,cat,False,True,50-200,reseller,NaN,0.0
511,dada30935bcfc75c69e651430ea8815f,f2c87addc7e39e1c73457c4ec85ed728,33dd30594303eb0ebe12a556d612c437,4b339f9567d060bcea4f5136b9f5949e,2018-09-27 17:36:04,bed_bath_table,online_medium,cat,False,True,50-200,reseller,85.0,0.0
518,63d196328512c582293ce6c845521bb6,1fe5540d7c1c37a595fefbacd5570d9e,0a0fb2b07d841f84fb6714e35c723075,34d40cdaf94010a1d05b0d6212f9e909,2018-07-20 18:18:14,computers,online_medium,eagle,False,True,50-200,reseller,NaN,0.0
579,00dc5000951c268cc8655294daf67b1b,00065220becb8785e2cf78355eb9bf68,9d12ef1a7eca3ec58c545c678af7869c,de63de0d10a6012430098db33c679b0b,2018-07-10 11:34:50,handcrafted,online_medium,cat,False,False,20-50,reseller,NaN,0.0

In [ ]:
closed_deals['business_type'].unique()

array(['reseller', 'manufacturer', 'other', nan], dtype=object)

## 3. 필요한 테이블 준비하기

In [ ]:
marketing_funnel = mql.merge(closed_deals, how = 'left', on = 'mql_id')

In [ ]:
mf_sellers = marketing_funnel.merge(sellers, how = 'left', on = 'seller_id')

NameError: ignored

In [ ]:
mf_items = marketing_funnel.merge(order_items, how = 'left', on = 'seller_id')
mf_items.info()

In [ ]:
mf_orders = mf_items.merge(orders, how = 'left', on = 'order_id')
mf_orders.info()

# II. 분석

In [ ]:
# 전체 전환율
mql_general = marketing_funnel.mql_id.count()
cd_general = marketing_funnel.seller_id.count()

general_sales_conversion_rate = cd_general / mql_general * 100
general_sales_conversion_rate

In [ ]:
marketing_funnel.info()

In [ ]:
lead_per_origin = pd.DataFrame(marketing_funnel.groupby('origin')['mql_id'].count().sort_values(ascending = False))

In [ ]:
seller_per_origin = pd.DataFrame(marketing_funnel.groupby('origin')['seller_id'].count().sort_values(ascending = False))

In [ ]:
leads_sellers = lead_per_origin.merge(seller_per_origin, how = 'left', on = 'origin')
leads_sellers['conversion_rate'] = leads_sellers['seller_id'] / leads_sellers['mql_id'] * 100
leads_sellers.sort_values(by = 'conversion_rate', ascending=False)

In [ ]:

leads_sellers['conversion_rate'].plot.barh()