<a href="https://colab.research.google.com/github/eunjipark123/olist_sellerside_analysis/blob/main/Olist_seller_sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. 준비
## 1. 분석에 필요한 라이브러리와 파일 불러오기

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 마케팅 채널 분석에 필요한 자료 리드

closed_deals = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_closed_deals_dataset.csv")
#customers = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_customers_dataset.csv")
#location = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_geolocation_dataset.csv")
mql = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_marketing_qualified_leads_dataset.csv")
orders = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_orders_dataset.csv")
order_items = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_order_items_dataset.csv")
order_payments = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_order_payments_dataset.csv")
products = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_products_dataset.csv")
sellers = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/olist_sellers_dataset.csv")
categories = pd.read_csv("/content/drive/MyDrive/olist/01_dataset/product_category_name_translation.csv")

## 2. 테이블 확인

In [ ]:
mql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

In [ ]:
closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [ ]:
# mql 채널 정보
mql['origin'].value_counts()

organic_search       2296
paid_search          1586
social               1350
unknown              1099
direct_traffic        499
email                 493
referral              284
other                 150
display               118
other_publicities      65
Name: origin, dtype: int64

In [ ]:
mql['landing_page_id'].value_counts()

b76ef37428e6799c421989521c0e5077    912
22c29808c4f815213303f8933030604c    883
58326e62183c14b0c03085c33b9fdc44    495
88740e65d5d6b056e0cda098e1ea6313    445
ce1a65abd0973638f1c887a6efcfa82d    394
                                   ...
8999524db83541c7f1ad48906d5d4b86      1
be7f31219be243061a39a4a158898688      1
ea4434c9a6df0098e720204ba3dbb76d      1
e5eaa929c6697d69cd76727daa809042      1
3683ba5726e741af4b8b02bcaef4e7b3      1
Name: landing_page_id, Length: 495, dtype: int64

In [ ]:
mql[mql['origin'].isna()].count()

mql_id                60
first_contact_date    60
landing_page_id       60
origin                 0
dtype: int64

In [ ]:
closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [ ]:
# closed_deals의 'has_company'가 False인 값 찾기 -> False인 행이 존재하므로 nan값이 무조건 False를 의미하지 않을 것
closed_deals[closed_deals['has_company'] == False]

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
41,20fcec0873b39b4df3df34140d77d6e7,cee3c487c56d29554a22d112af618301,084b6fbb10729ed4da8c3d3f5a3ae7c9,0a0fb2b07d841f84fb6714e35c723075,2018-11-14 18:04:19,other,other,cat,False,False,1-5,other,120.0,6000.0
356,3fc2d2c3597b3e7b87c17651f98f6c22,6514418ce691fad2663207c14a1fc1f4,b90f87164b5f8c2cfa5c8572834dbe3f,9ae085775a198122c5586fa830ff7f2b,2018-08-28 21:30:52,food_drink,industry,cat,False,True,50-200,reseller,NaN,0.0
511,dada30935bcfc75c69e651430ea8815f,f2c87addc7e39e1c73457c4ec85ed728,33dd30594303eb0ebe12a556d612c437,4b339f9567d060bcea4f5136b9f5949e,2018-09-27 17:36:04,bed_bath_table,online_medium,cat,False,True,50-200,reseller,85.0,0.0
518,63d196328512c582293ce6c845521bb6,1fe5540d7c1c37a595fefbacd5570d9e,0a0fb2b07d841f84fb6714e35c723075,34d40cdaf94010a1d05b0d6212f9e909,2018-07-20 18:18:14,computers,online_medium,eagle,False,True,50-200,reseller,NaN,0.0
579,00dc5000951c268cc8655294daf67b1b,00065220becb8785e2cf78355eb9bf68,9d12ef1a7eca3ec58c545c678af7869c,de63de0d10a6012430098db33c679b0b,2018-07-10 11:34:50,handcrafted,online_medium,cat,False,False,20-50,reseller,NaN,0.0

In [ ]:
# business_type에 어떤 값들이 있는지 확인
closed_deals['business_type'].unique()

array(['reseller', 'manufacturer', 'other', nan], dtype=object)

## 3. 필요한 테이블 준비하기

### 기본 테이블 : marketing_funnel

In [ ]:
# 마케팅 퍼널 : 리드가 olist 회원가입하고 SDR이 first_contact를 한 이후 -> 계약 체결까지
# mql 테이블과 closed_deals 테이블이 1:1 관계이므로 중복 이슈 없음
marketing_funnel = mql.merge(closed_deals, how = 'left', on = 'mql_id')

### 시도1. 마케팅 퍼널과 order_items 테이블 조인 (order_items 테이블 수정 없음)

In [ ]:
mf_items = marketing_funnel.merge(order_items, how = 'left', on = 'seller_id')
mf_items.head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,...,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,order_id,order_item_id,product_id,shipping_limit_date,price,freight_value
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,...,NaN,reseller,NaN,0.0,1efcc6ba75b519535a510c53153a9256,1.0,e94df75b2e9a8b056be0c144a731f55c,2018-06-26 22:20:21,94.2,18.76

In [ ]:
# 한 셀러 당 여러 개의 오더 아이템을 판매하므로, 테이블에 여러 셀러명이 중복되어 있음을 알 수 있다. 
# 따라서 seller_id를 카운트할 때 고유 값으로 카운트해야함

a = pd.DataFrame(mf_items.groupby('seller_id')['order_item_id'].count()).reset_index().sort_values(by = 'order_item_id', ascending = False)
a

                            seller_id  order_item_id
401  7d13fca15225358621be4086e1eb0964            578
659  c70c1b0d8ca86052f45a432a38b73958            338
302  612170e34b97004b3ba37eae81836b4c            110
448  8a432f4e5b471f8da497d7dc517666e2            106
357  70c27847eca8195c983ed7e798c56743             98
..                                ...            ...
374  7614a7c196be837b0eba0a3811e51b29              0
377  767f9c7cc8d4c288b891893b61f3a2ca              0
378  76bf0e3e7d311d9069d4512cc1a232d7              0
379  76e8c36299440e255379b5fa7f03f272              0
421  81cce42d33ddf3d4f89f1d476b5e35e7              0

[842 rows x 2 columns]

In [ ]:
# order_item이 하나라도 있는 seller들의 고유값을 카운트하면
seller_with_order_cnt = a[a['order_item_id'] >= 1]['seller_id'].nunique()

In [ ]:
seller_with_order_cnt

380

In [ ]:
# order_items 테이블과 orders 정보도 연결
# mql 아이디 등이 계속 중복되어 표기되는 것을 알 수 있음
mf_orders = mf_items.merge(orders, how = 'left', on = 'order_id')
mf_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12664 entries, 0 to 12663
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         12664 non-null  object
 1   first_contact_date             12664 non-null  object
 2   landing_page_id                12664 non-null  object
 3   origin                         12597 non-null  object
 4   seller_id                      5506 non-null   object
 5   sdr_id                         5506 non-null   object
 6   sr_id                          5506 non-null   object
 7   won_date                       5506 non-null   object
 8   business_segment               5505 non-null   object
 9   lead_type                      5455 non-null   object
 10  lead_behaviour_profile         3679 non-null   object
 11  has_company                    88 non-null     object
 12  has_gtin                       89 non-null     object
 13  average_stock                  91 non-null     object
 14  business_type                  5494 non-null   object
 15  declared_product_catalog_size  69 non-null     float64
 16  declared_monthly_revenue       5506 non-null   float64
 17  order_id                       5044 non-null   object
 18  order_item_id                  5044 non-null   float64
 19  product_id                     5044 non-null   object
 20  shipping_limit_date            5044 non-null   object
 21  price                          5044 non-null   float64
 22  freight_value                  5044 non-null   float64
 23  customer_id                    5044 non-null   object
 24  order_status                   5044 non-null   object
 25  order_purchase_timestamp       5044 non-null   object
 26  order_approved_at              5044 non-null   object
 27  order_delivered_carrier_date   5027 non-null   object
 28  order_delivered_customer_date  4982 non-null   object
 29  order_estimated_delivery_date  5044 non-null   object
dtypes: float64(5), object(25)
memory usage: 3.0+ MB

In [ ]:
mf_

In [ ]:
# 
order_sellers = order_items.groupby('seller_id')['order_item_id'].count()
order_sellers.head()

seller_id
0015a82c2db000af6aaaf3ae2ecb0532      3
001cca7ae9ae17fb1caed9dfb1094831    239
001e6ad469a905060d959994f1b41e4f      1
002100f778ceb8431b7a1020ff7ab48f     55
003554e2dce176b5555353e4f3555ac8      1
Name: order_item_id, dtype: int64

In [ ]:
order_with_items = orders.merge(order_items, how = 'inner', on='order_id')
first_order_date = pd.DataFrame(order_with_items.groupby('seller_id')['order_purchase_timestamp'].min())
first_order_date

                                 order_purchase_timestamp
seller_id
0015a82c2db000af6aaaf3ae2ecb0532      2017-09-26 22:17:05
001cca7ae9ae17fb1caed9dfb1094831      2017-02-04 19:06:04
001e6ad469a905060d959994f1b41e4f      2018-08-07 22:50:37
002100f778ceb8431b7a1020ff7ab48f      2017-09-14 01:00:31
003554e2dce176b5555353e4f3555ac8      2017-12-15 06:52:25
...                                                   ...
ffcfefa19b08742c5d315f2791395ee5      2018-06-23 17:34:33
ffdd9f82b9a447f6f8d4b91554cc7dd3      2017-03-05 16:21:27
ffeee66ac5d5a62fe688b9d26f83f534      2017-09-30 15:56:56
fffd5413c0700ac820c7069d66d98c89      2017-07-24 21:13:55
ffff564a4f9085cd26170f4732393726      2016-10-07 17:37:49

[3095 rows x 1 columns]

In [ ]:
mql_to_orders = marketing_funnel.merge(first_order_date, how = 'left', on = 'seller_id')
mql_to_orders[mql_to_orders['order_purchase_timestamp'].notna()].nunique()

mql_id                           380
first_contact_date               142
landing_page_id                   75
origin                             9
seller_id                        380
sdr_id                            18
sr_id                             18
won_date                         372
business_segment                  29
lead_type                          7
lead_behaviour_profile             6
has_company                        2
has_gtin                           2
average_stock                      4
business_type                      2
declared_product_catalog_size      0
declared_monthly_revenue           1
order_purchase_timestamp         380
dtype: int64

# II. 분석

## 1. 전체 전환율 측정 
- MQL -> cd_conversion rate : closed_deal 단계의 셀러 수 / mql 단계의 리드 수 * 100(%), 셀러 수 측정 기준(seller_id), 리드 수 측정 기준(mql_id)
- SQL -> selling_conversion_rate : 주문 내역이 있는 셀러 수 / closed_deals 단계의 셀러 수 * 100(%), 주문 내역 있는 셀러 수 측정 기준(주문 내역 조건을 만족하는 셀러 seller_id)

In [ ]:
# 전체 전환율
mql_general = marketing_funnel['mql_id'].count()
cd_general = marketing_funnel['seller_id'].count()
order_general = seller_with_order_cnt

print(mql_general, cd_general, order_general)

8000 842 380

In [ ]:
general_sales_conversion_rate = cd_general / mql_general * 100
general_order_conversion_rate = order_general / cd_general * 100
print(general_sales_conversion_rate, general_order_conversion_rate)

10.525 45.13064133016627

In [ ]:
general_funnels = [mql_general, cd_general, order_general]

In [ ]:
import plotly.express as px

data = dict(
    number = general_funnels,
    stage = ['mql','cd','order'])

fig = px.funnel(data, x='number', y='stage')
fig.show()

In [ ]:
lead_per_origin = pd.DataFrame(marketing_funnel.groupby('origin')['mql_id'].count().sort_values(ascending = False))

In [ ]:
seller_per_origin = pd.DataFrame(marketing_funnel.groupby('origin')['seller_id'].count().sort_values(ascending = False))

In [ ]:
leads_sellers = lead_per_origin.merge(seller_per_origin, how = 'left', on = 'origin')
leads_sellers['conversion_rate'] = leads_sellers['seller_id'] / leads_sellers['mql_id'] * 100
leads_sellers.sort_values(by = 'conversion_rate', ascending=False)

In [ ]:

leads_sellers['conversion_rate'].plot.barh()